*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-content: center;
  min-height: 100vh;
  background-color: rgb(202, 213, 156);
}
.container {
  grid-column: 2;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: yellow;
  text-align: center;
  border-radius: 0.3em;
  box-shadow: 0 0 1rem -1px black;
}
.alert {
  padding: 1rem;
  margin: 0 0 1rem;
  text-align: center;
  border-radius: 0.3em;
  display: none;
}
.danger {
  background-color: rgb(255, 215, 215);
  color: rgb(172, 50, 50);
}
.success {
  background-color: rgb(174, 253, 174);
  color: green;
}
.title {
  margin: 0 0 2rem;
  text-align: center;
  letter-spacing: 0.1em;
}
.todo-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 2.6rem;
  margin: 1rem auto 2rem;
}
#todo {
  border-radius: 0.3em 0 0 0.3em;
  border: 1px solid #777;
  padding: 0 0.6rem;
}
.submit-btn {
  background-color: #a2b6ff;
  border: none;
  border-radius: 0 0.3em 0.3em 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.task-container {
  margin: 1rem 0;
}
.task {
  padding: 1rem;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0a;
  color: #eee;
  border-radius: 0.3em;
}
.btn-group {
  margin-left: auto;
}
.bi-pencil {
  color: rgb(255, 215, 104);
  font-size: 1.2em;
  margin-right: 0.3em;
}
.bi-trash {
  font-size: 1.2em;
  color: rgb(255, 88, 88);
}
.clear-btn {
  width: fit-content;
  margin: 2rem auto 0;
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 0.3em;
  background-color: rgb(203, 94, 94);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: none;
}
.show {
  display: block;
}
