@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Rowdies:wght@300&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: rgb(21, 27, 49);
  --dark-red: #c53b3b;
  --light-red: rgb(255, 215, 215);
  --light-green: hsl(120, 35%, 82%);
  --grass: rgb(202, 213, 156);
  --my-yellow: #ffc953;
  --yellow-1: #ffebc0;
}

body {
  padding: 1rem 0.2rem;
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  background: rgb(182, 217, 189);
  background: linear-gradient(
    345deg,
    rgba(182, 217, 189, 1) 0%,
    rgba(255, 241, 170, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(255, 233, 110);
  text-align: center;
  border-radius: 0.3em;
  box-shadow: 0 0 1rem -1px black;
  position: relative;
}

.alert {
  padding: 0.4rem;
  width: 96%;
  max-width: 400px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  border: 2px solid;
  z-index: 10;

  &Text {
    padding: 0.5rem 0;
  }
}

.alert-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.danger {
  background-color: var(--light-red);
  color: var(--dark-red);
  border-color: var(--dark-red);
}

.success {
  background-color: hsl(120, 35%, 82%);
  color: green;
  border-color: green;
}

.title {
  font-family: "Ranchers", cursive;
  font-size: 2.6rem;
  margin: 0 0 2rem;
  text-align: center;
  letter-spacing: 0.2em;
  color: var(--dark-blue);
}

.editingNoti {
  margin: 1rem 0;
}

.todoForm {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 2.6rem;
  margin: 1rem auto 2rem;
}

#todo {
  border-radius: 0.3em 0 0 0.3em;
  border: 1px solid #777;
  padding: 0 0.6rem;

  &:hover {
    border: 2px solid green;
  }

  &:focus {
    background-color: var(--yellow-1);
  }
}

.submitBtn {
  background-color: var(--light-green);
  color: green;
  border: 1px solid #333;
  border-radius: 0 0.3em 0.3em 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  cursor: pointer;
  font-family: "Rowdies", cursive;

  &.edit {
    background-color: var(--light-red);
    color: var(--dark-red);
  }
}

.taskList {
  margin: 1rem 0;
}

.task {
  padding: 0 1.1rem;
  margin: 0.4rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
  background: #f8f8f9;

  color: rgb(27, 27, 27);
  border-radius: 0.3em;
  box-shadow: 0 0 0.6rem -2px #111;
  cursor: pointer;
}

.task.done * {
  color: #999 !important;
}

.task.done .taskText {
  text-decoration: line-through;
}

.taskText {
  text-align: start;
  padding: 1rem 0;
}

.btnGroup {
  line-height: 1em;
  display: flex;
}

.btnEdit,
.btnDelete {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.4rem;
  position: relative;

  &_ovl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.btnEdit {
  // background-color: #ffff76;
  margin-right: 0.5rem;
}

// .btnDelete {
//   // background-color: #bb6c6c;
// }

.bi {
  cursor: pointer;
  color: var(--dark-blue);
}

.clearBtn {
  width: fit-content;
  margin: 2rem auto 0;
  padding: 0.6rem 1.6rem;
  border: 2px solid var(--dark-red);
  border-radius: 0.3em;
  background-color: transparent;
  color: var(--dark-red);
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: none;
  cursor: pointer;

  &:hover {
    background-color: var(--light-red);
    color: var(--dark-red);
  }
}

.show {
  display: block;
}

.footer {
  grid-column: 2;
  padding: 1rem;
  background-color: var(--dark-blue);
  color: #ffffff;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 2rem auto 0;
  border: 0.4rem solid #040427;
  border-radius: 0.3em;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  font-family: "Rowdies", cursive;
}

.js {
  color: var(--my-yellow);
}

@media screen and (min-width: 600px) {
  .alert {
    bottom: 1rem;
    left: 3rem;
  }
}
